@font-face{
    font-family: 'Caprasimo-Regular'; 
    src: url(../fonts/AnyConv.com__Caprasimo-Regular.eot);
    src: local('※'), url(../fonts/Caprasimo-Regular.woff) format('woff'), url(../fonts/Caprasimo-Regular.ttf) format('truetype'); 
}