@font-face{
    font-family: 'Binggrae';  
    src: url(../../fonts/Binggrae-Bold2.eot);
    src: local('※') , url(../../fonts/Binggrae-Bold2.woff) format('woff'), url(../../fonts/Binggrae-Bold2.ttf) format('truetype'); 
}
